__snapshots__/
.idea
.vscode
node_modules
**/storage
**/ids.file
kubernetes/spinnaker-service-account.json
kubernetes/productions/certs
kubernetes/productions/helm*
kubernetes/productions/kubectx
**/linux-amd64
**/mtls-go-example
