name: 'Push'
on: ['push']

jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: 'actions/checkout@v1'
    - name: 'Run build scripts'
      run: 'CIRCLE_BRANCH=${GITHUB_REF##*/} scripts/build.sh'
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASS: ${{ secrets.DOCKER_PASSWORD }}
    - name: 'Trigger deployment'
      run: scripts/deploy.sh
  package-helm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: J12934/helm-gh-pages-action@master
        with:
          access-token: ${{ secrets.ACCESS_TOKEN }}
          deploy-branch: develop
          charts-folder: kubernetes/ink-network/
